*.class
*.merge-left*
*.merge-right*
*.mine
*.prej
*.pyc
*.pyo
*.working
.svn
_svn
svn-commit*.tmp
.DS_store
*.xml
*.htaccess

sftp-config.json
/nbproject/private/
nbproject
/magazine/
/test48/
/images/es_es/*
/images/es_ve/*
*/protected/config/*
protected/config/main.php
