*.class
*.merge-left*
*.merge-right*
*.mine
*.prej
*.pyc
*.pyo
*.working
.svn
_svn
svn-commit*.tmp
.DS_store
*.xml
.htaccess

sftp-config.json
nbproject/private/
nbproject
magazine/
test48/
images/es_es/*
images/es_ve/*
images/es_ve
docs/*

### Yii ###
assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/
ftpsync.settings


images/de_ch/*
images/de_ch
images/estilos/de_ch


images/Thumbs.db
