RewriteEngine On
RewriteBase /develop/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)\?*$ index.php/$1 [L,QSA]
#RedirectMatch 301 ^/develop/$ http://personaling.com/
#RewriteCond %{REQUEST_URI} ^/develop/
#RewriteRule (.*) / [R=301,L]
#RewriteRule ^develop/(.*)$ http://www.personaling.com [R=301,L]
RewriteCond %{REMOTE_ADDR} !201\.210\.221\.244 
RewriteCond %{REMOTE_ADDR} !190\.36\.173\.103
RewriteCond %{REMOTE_ADDR} !190\.78\.40\.224
RewriteCond %{REMOTE_ADDR} !201\.248\.229\.119
RewriteCond %{REMOTE_ADDR} !186\.93\.234\.27
RewriteCond %{REMOTE_ADDR} !186\.91\.41\.21
RewriteCond %{REMOTE_ADDR} !186\.93\.252\.120
RewriteCond %{REMOTE_ADDR} !190\.206\.151\.177
RewriteCond %{REMOTE_ADDR} !174\.23\.154\.49
RewriteCond %{REMOTE_ADDR} !205\.124\.145\.253
#Rafa
RewriteCond %{REMOTE_ADDR} !186\.88\.71\.244
#Johann
RewriteCond %{REMOTE_ADDR} !186\.88\.225\.204
RewriteCond %{REMOTE_ADDR} !190\.206\.26\.207
#Nelson ON
RewriteCond %{REMOTE_ADDR} !186\.93\.205\.190
#Nelson OFF

#Carlos ON
RewriteCond %{REMOTE_ADDR} !186\.93\.231\.140
#Carlos OFF

#Johann ON
RewriteCond %{REMOTE_ADDR} !200\.8\.204\.245
#Johann OFF

#Cristal ON
RewriteCond %{REMOTE_ADDR} !174\.23\.184\.18
#Cristal OFF


RewriteRule (.*) http://www.personaling.com/$1 [R=301,L]

