RewriteEngine On
RewriteBase /develop/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)\?*$ index.php/$1 [L,QSA]
#RedirectMatch 301 ^/develop/$ http://personaling.com/
#RewriteCond %{REQUEST_URI} ^/develop/
#RewriteRule (.*) / [R=301,L]
#RewriteRule ^develop/(.*)$ http://www.personaling.com [R=301,L]
RewriteCond %{REMOTE_ADDR} !201\.210\.221\.244 
RewriteCond %{REMOTE_ADDR} !190\.36\.173\.103
RewriteCond %{REMOTE_ADDR} !190\.78\.40\.224
RewriteCond %{REMOTE_ADDR} !201\.211\.232\.124
RewriteCond %{REMOTE_ADDR} !186\.93\.234\.27
RewriteCond %{REMOTE_ADDR} !186\.93\.167\.19


RewriteRule (.*) http://www.personaling.com/$1 [R=301,L]
